@page "{id?}"
@model Food_Dash.Pages.EditMenuModel
@{
	ViewData["Title"] = "Edit Menu";
}
<link rel="stylesheet" href="~/css/EditMenu.css" />

<div class = "container">
	<h1>Edit Menu</h1>
	<div class = "form">
		<form method="post">
			<div>
				<label asp-for="Menu.Name"></label>
				<p class="menuname" asp-route-id="@Model.Menu.Name">@Model.Menu.Name</p>	
			</div>
			
			<br>
			<div>
				<label asp-for="Menu.Price"></label>
				<input type="text" name="price" asp-for="Menu.Price" class="data"/>
			</div>
			<br>
			<input type="submit" value="Save" class="saveButton"/>
		</form>
	</div>
</div>
